/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white-p: rgba(255, 255, 255, 1);
    --dark-p: rgba(26, 26, 26, 1);
    --orange-p: rgba(255, 105, 0, 1);
    --red-p: rgba(255, 0, 0, 1);
    --green-p: rgba(0, 128, 0, 1);
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    display: inline-block;
    max-width: 100%;
}

li {
    list-style: none;
}


/* COMMON */

.container {
    width: 80%;
    min-width: 800px;
}

.flex-container {
    display: flex;
}

.j-center {
    justify-content: center;
}

.m-center {
    margin: 0px auto;
}

.pad-v-20 {
    padding: 20px 0px;
}

/* Typography */

body {
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;;
}

.txt-10 {
    font-size: 1rem;
}

.txt-15 {
    font-size: 1rem;
    font-weight: bolder;
}

.txt-20 {
    font-size: 2rem;
}

/* Colors */

.txt-w {
    color: var(--white-p);
}

.txt-d {
    color: var(--dark-p);
}

.bg-0 {
    background-color: var(--orange-p);
}

.bg-g {
    background-color: var(--green-p);
}

.bg-r {
    background-color: var(--red-p);
}

.bg-d {
    background-color: var(--dark-p);
}


/* HEADER */

header {
    background-color: var(--orange-p);
    color: var(--white-p);
}

.categories-section {
    width: 25%;
    align-items: center;

    /* Debug */
    border: 2px dashed var(--dark-p);
}

.category {
    margin: 0px 10px 0px 0px;
}

.logo-section {
    width: 50%;
    justify-content: center;
    align-items: center;

    /* Debug */
    border: 2px dashed var(--dark-p);
}

.logo-img {
    max-height: 2rem;
}

.nav-section {
    width: 25%;
    justify-content: end;
    align-items: center;

    /* Debug */
    border: 2px dashed var(--dark-p);
}

.icon {
    margin: 0px 0px 0px 10px;
}


/* MAIN */

main {
    margin: 50px 0px;

    /* Debug */
    background-color: lightcoral;
}


/* FOOTER */
