/* RESET */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white-p: rgba(255, 255, 255, 1);
    --dark-p: rgba(26, 26, 26, 1);
    --orange-p: rgba(255, 105, 0, 1);
    --red-p: rgba(255, 0, 0, 1);
    --green-p: rgba(0, 128, 0, 1);
}

a {
    color: inherit;
    text-decoration: none;
}

img {
    display: block;
    max-width: 100%;
}

li {
    list-style: none;
}


/* COMMON */

.container {
    margin: 0px auto;
    width: 80%;
    min-width: 820px;
}

.flex-container {
    display: flex;
}

.flex-col {
    flex-direction: column;
}

.j-center {
    justify-content: center;
}

.j-end {
    justify-content: end;
}

.al-center {
    align-items: center;
}

.pad-v-20 {
    padding: 20px 0px;
}

.pad-v-10 {
    padding: 10px 0px;
}

.pad-v-10 {
    padding: 10px 0px;
}

.marg-l-10 {
    margin-left: 10px;
}

.marg-r-10 {
    margin-right: 10px;
}

/* Typography */

body {
    font-family: Whitney, "Helvetica Neue", Helvetica, Arial, sans-serif;;
}

.txt-5 {
    font-size: 0.8rem;
    font-weight: lighter;
}

.txt-10 {
    font-size: 0.8rem;
}

.txt-15 {
    font-size: 0.9rem;
    font-weight: bolder;
}

.txt-20 {
    font-size: 1.1rem;
}

.txt-bar {
    text-decoration: line-through;
    padding: 0px 5px;
}

/* Colors */

.txt-w {
    color: var(--white-p);
}

.txt-d {
    color: var(--dark-p);
}

.txt-r {
    color: var(--red-p);
}

.bg-w {
    background-color: var(--white-p);
}

.bg-o {
    background-color: var(--orange-p);
}

.bg-g {
    background-color: var(--green-p);
}

.bg-r {
    background-color: var(--red-p);
}

.bg-d {
    background-color: var(--dark-p);
}


/* HEADER */

header {
    background-color: var(--orange-p);
    color: var(--white-p);
}

.categories-section {
    width: 25%;
    align-items: center;

    /* Debug */
    border: 2px dashed var(--dark-p);
}

.category {
    margin: 0px 10px 0px 0px;
}

.logo-section {
    width: 50%;
    justify-content: center;
    align-items: center;

    /* Debug */
    border: 2px dashed var(--dark-p);
}

.logo-img {
    max-height: 2rem;
}

.nav-section {
    width: 25%;
    align-items: center;

    /* Debug */
    border: 2px dashed var(--dark-p);
}


/* MAIN */

main {
    margin: 40px 0px;

    /* Debug */
    background-color: lightcoral;
    min-height: 800px;
}

.cards-grid {
    flex-wrap: wrap;
    justify-content: space-between;
}

.card {
    width: calc(100%/3);
    flex-direction: column;
    margin: 20px 0px;

    /* Debug */
    background-color: lightcyan;
    min-height: 200px;
}

.img-section {
    position: relative;
}

.square {
    position: absolute;
    z-index: 2;
    right: 0px;
    top: 20px;
    text-align: center;
    width: 1.5em;
    height: 1.5em;
    line-height: 1.5em;
    font-size: 1.5rem;
}

.banner {
    position: absolute;
    z-index: 2;
    bottom: 20px;
}

.banner-txt {
    padding: 2px 5px;
    margin-right: 5px;
}

.discount {
    background-color: var(--red-p);
}

.sustainability {
    background-color: var(--green-p);
}

.card-img-visible {
    position: relative;
}

.card-img-hidden {
    display: none;
    position: absolute;
    z-index: 1;
}

.img-section:hover .card-img-hidden{
    display: inline-block;
}

.txt-section {
    padding-top: 3px;

    /* Debug */
    background-color: lightseagreen;
}


/* FOOTER */

footer {
    background-color: var(--dark-p);
    color: var(--white-p);
    padding: 30px 0px;
}

.info-section {
    width: 75%;

    /* Debug */
    background-color: lightgreen;
}

.socials-section {
    width: 25%;

    /* Debug */
    background-color: rgb(42, 154, 42);
}

.txt-end {
text-align: end;
}